@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");



/* div box styling */
.sign-container {
  margin: auto;
  top: 10%;
  width: 650px;
  height: 550px;
  position: relative;
}

.sign-container .welcome {
  background: #f6f6f6;
  width: 650px;
  height: 415px;
  position: absolute;
  top: 25%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.sign-container .pinkbox {
  position: absolute;
  top: -10%;
  left: 5%;
  background: #eb8989;
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all .5s ease-in-out;
  z-index: 2;
}

.sign-container .nodisplay {
  display: none;
  transition: all .5s ease;
}

.sign-container .leftbox,
.sign-container .rightbox {
  position: absolute;
  width: 50%;
  transition: 1s all ease;
}

.sign-container .leftbox {
  left: -2%;
}

.sign-container .rightbox {
  right: -2%;
}

/* font & button styling */
.sign-container h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 95px;
  text-transform: uppercase;
  color: #f6f6f6;
  font-size: 2em;
  letter-spacing: 8px;
}

.sign-container .title {
  font-family: "Lora", serif;
  color: #8E9AAF;
  font-size: 1.8em;
  line-height: 1.1em;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 300;
  margin-top: 20%;
}

.sign-container .desc {
  margin-top: -8px;
}

.sign-container .account {
  margin-top: 45%;
  font-size: 10px;
}

.sign-container p {
  font-family: "Open Sans", sans-serif;
  font-size: .7em;
  letter-spacing: 2px;
  color: #8E9AAF;
  text-align: center;
}

.sign-container span {
  color: #eb8989;
}

.flower {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 46%;
  left: 29%;
  opacity: .7;
}

.smaller {
  width: 90px;
  height: 100px;
  top: 48%;
  left: 38%;
  opacity: .9;
}

.sign-container button {
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
}

.sign-container button:hover {
  background: #eb8989;
  color: #f6f6f6;
  transition: background-color 1s ease-out;
}

.sign-container .button {
  margin-top: 3%;
  background: #f6f6f6;
  color: #ce7d88;
  border: solid 1px #eb8989;
}

/* form styling */
.sign-container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}

.more-padding {
  padding-top: 35px;
}

.more-padding input {
  padding: 12px;
}

.more-padding .submit {
  margin-top: 45px;
}

.submit {
  margin-top: 25px;
  padding: 12px;
  border-color: #ce7d88;
}

.submit:hover {
  background: #CBC0D3;
  border-color: #bfb1c9;
}

.sign-container input {
  background: #eb8989;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(246, 246, 246, 0.5);
  padding: 9px;
  margin: 7px;
}

.sign-container input::placeholder {
  color: #f6f6f6;
  letter-spacing: 2px;
  font-size: 1.3em;
  font-weight: 100;
}

.sign-container input:focus {
  color: #ce7d88;
  outline: none;
  border-bottom: 1.2px solid rgba(206, 125, 136, 0.7);
  font-size: 1em;
  transition: .8s all ease;
}

.sign-container input:focus::placeholder {
  opacity: 0;
}

.sign-container label {
  font-family: "Open Sans", sans-serif;
  /* color: #ce7d88; */
  font-size: 0.8em;
  letter-spacing: 1px;
}

.checkbox {
  display: inline;
  white-space: nowrap;
  position: relative;
  left: -62px;
  top: 5px;
}

.sign-container input[type=checkbox] {
  width: 10px;
  background: #ce7d88;
}

.checkbox input[type="checkbox"]:checked+label {
  /* color: #ce7d88; */
  transition: .5s all ease;
}

.signupClick{
  transform: translateX(80%);
}

.signinClick {
  transform: translateX(0%);
}

.code input{
  width: 60%;
  margin-left: 0.5em;
}

.code .ant-form-item-control {
    width: 85%;
    margin: auto;
}

.ant-input-affix-wrapper input:focus,
.ant-input-affix-wrapper input:hover {
  color: #000;
  border-color: #eb8989
}