.content {
  width: 100%;
  padding: 10%;
  background: #fff;
  position: relative;
  z-index: 3;
  display: flex;
}

.content:first-child{
  margin-top: 400px;
}
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all .3s;
}

.box {
    /* position: relative;
    z-index: 3;
      width: 100%;
      padding: 10%;
      background: #fff; */
  width: 95%;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
   padding: 25px;
   border-radius: 25px;
   height: 400px;
   transition: all .3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
/* @page */
.ant-carousel .slick-dots {
  color: #e2f;
  position: absolute;
  z-index: 5;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .ant-carousel .slick-dots {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ant-carousel .slick-list{
  overflow: visible;
  overflow-x: visible!important ;
  overflow-y: hidden;
}

.ant-carousel .slick-list .slick-track{
  overflow-x: visible;
}

.ant-carousel .slick-dots li > button {
  margin: 10px 0;
  width: 11px!important;
  background-color: transparent!important;
}

@media screen and (max-width: 768px) {
  .ant-carousel .slick-dots li > button {
    margin: 0 5px;
  }
}

.ant-carousel .slick-dots li {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all .3s;
}

.ant-carousel .slick-dots .slick-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}

@media screen and (max-width: 768px) {
  .ant-carousel .slick-dots .slick-active {
    height: 11px;
    width: 30px;
  }
}