/* /* #envelope {
  background: rgb(239,233,270);
  width: 30px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px;
  border-bottom-let-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#lid {
  position: reflative;
  top: -150px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 150px 150px 150px;
  border-color: transparent transparent rgb(239,233,270) transparent;
}

#letter {
  position: relative;
  background: #916B6B;
  top: -150px;
  width: 280px;
  height: 200px;
  left: 10px;
  top: -220px;
  animation: out 5s infinite linear;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#left-corner {
  position: relative;
  top: -315px;
  left: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 0 0 250px;
  border-color: transparent transparent transparent rgb(239,233,270);
}

#right-corner {
  position: relative;
  top: -470px;
  left: 50px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 150px 250px;
  border-color: transparent transparent  rgb(239,233,270) transparent;
}

@keyframes out {
  0% {
    top: -220px;
  }

  25% {
    top: -200px;
  }

  50% {
    top: -220px;
  }

  75% {
    top: -200px;
  }
} */
.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.boxLoading:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.boxLoading:after {
  content: '';
  width: 50px;
  height: 50px;
  background: rgb(235, 137, 137);
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/* body,
html {
  background: #ccc;
  overflow: hidden;
  height: 100%;
} */
