.info{
  background-color: #eb8989;
  height: 35em;
}
.info .helper{
  height: 2em;
}
.info .p_header {
  width: 80%;
  height: 20%;
  border-radius:10px;
  padding: 2em;
  margin: 0 auto;
  background-color:rgba(255,255,255,0.1);
  text-align: center
  /* box-shadow:  */
}

.info .ant-avatar{
  width: 5em;
  height:5em;
}

.info .ant-avatar-image {
  border-radius: 50%;
  border: 1px solid #F5F5F5;
}
.info .ant-avatar-icon {
  background-color: rgba(255, 255, 255, 0.2);
  margin: -2em;
}
.info .ant-avatar .anticon-plus{
  font-size: 5em;
  font-weight: 200
}

.info .p_header .anticon svg {
  width: 0.5em;
}
.info .content {
  background-color: rgba(255, 255, 255, .2);
  width: 80%;
  margin: 1em auto;
  border-radius: 5px;
  overflow: auto;
  height: 24em;
}

.info .info_display {
  width: 80%;
  margin: 0 auto;
  /* transition:transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) */
}
.info .info_display p {
  text-align: center;
  color: #F5F5F5;
}
.info .login-form {
  margin: 0 auto;
  transition: all 1s ease-out;
}

.info .ant-form-item-control-wrapper:nth-child(2){
  display: inline-block;
}
.info .helper_content {
  position: relative;
}
.info .setting {
  position: absolute;
  font-size: 40px;
  bottom: 0.5em;
  right: 0.5em;
  color: bisque;
}
/* @component-todo */
@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

#todolist {
  margin: 0 auto;
  padding: 2rem 3rem 3rem;
  background: #eb8989;
  color: #FFF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#todolist h1 {
  /*text-align:center;*/
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

#todolist .emptylist {
  margin-top: 2.6rem;
  text-align: center;
  letter-spacing: .05em;
  font-style: italic;
  opacity: 0.8;

}

#todolist ul {
  margin-top: 2.6rem;
  list-style: none;
}

#todolist .todolist-move {
  transition: transform 1s;
}

#todolist li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

#todolist .actions {
  flex-shrink: 0;
  padding-left: 0.7em;
  margin-right: 2em;
}

#todolist .label {
  position: relative;
  transition: opacity .2s linear;
}

#todolist .done .label {
  opacity: .6;
}

#todolist .done .label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -.5rem;
  display: block;
  width: 0%;
  height: 1px;
  background: #FFF;
  animation: strikeitem .3s ease-out 0s forwards;
}

#todolist .btn-picto {
  border: none;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #FFF;
}

#todolist .todoArea{
  height: 20em;
  overflow-y: auto;
  overflow-x:hidden;
}
.ant-checkbox-inner {
  border: #eb8989;
}
.ant-checkbox:hover {
  border: #eb8989
}
.ant-checkbox-checked:after {
  background: #eb8989;
  border: 1px solid #eb8989;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color:#eb8989;
  border-color: #eb8989;
}

/* TOOGLE COMPONENT */
.togglebutton-wrapper {
  margin-top: 1em;
}

.togglebutton-wrapper label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.togglebutton-wrapper input {
  position: absolute;
  left: -9999px;
}

.togglebutton-wrapper .togglebutton-label {
  font-size: .8rem;
  letter-spacing: .1em
}

.togglebutton-wrapper .togglebutton-box {
  position: relative;
  display: block;
  margin-left: 0.6em;
  width: 38px;
  height: 22px;
  background: white;
  /*border:1px solid black;*/
  border-radius: 999px;
  cursor: pointer;
}

.togglebutton-wrapper .togglebutton-box:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 18px;
  height: 18px;
  /*border:1px solid #eb8989;*/
  border-radius: 50%;
  background: #eb8989;
  opacity: 0.7;
  transition: all .2s ease-in-out;
}

.togglebutton-wrapper.togglebutton-focus .togglebutton-box {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.togglebutton-wrapper.togglebutton-checked .togglebutton-box:before {
  left: calc(100% - 4px - 16px);
  opacity: 1;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.p-coupons {
  margin: 0 auto;
  padding: 2rem 3rem 3rem;
  background: #eb8989;
  color: #FFF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 35em;
}

/* @group coupons*/
.p-coupons .title {
  text-align: right;
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

/* @component order */
.order {
  background: #eb8989;
  height: 35em;
  padding: 2rem 3rem 3rem;
}

.order .title {
  text-align: right;
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.order .ant-tabs-nav .ant-tabs-tab-active {
  color:#FFF;
}

.order .ant-tabs-nav .ant-tabs-tab {
  color: #eedfce
}

.order .ant-tabs-ink-bar{
  color: #ff4d4f;
}